# Database Configuration
# DB user must be "neo4j"
DB_USER=neo4j
# Note the password must be at least 8 characters
DB_PASSWORD=CHANGE-ME-123

# If running outside the docker compose environment, set the DB_URI to point
# to your Neo4j instance.
# Ensure hostname matches the service name in docker-compose.yml for internal communication
DB_URI=neo4j://neo4j:7687

# Azure Configuration via Environment Variables:
# https://azure.github.io/azure-service-operator/guide/authentication/credential-format/#service-principal-using-a-client-secret
# AZURE_CLIENT_ID=
# AZURE_TENANT_ID=
# AZURE_CLIENT_SECRET=